body,html {
  
  
}
#top {
    position: relative;
    background-color: #3a903a;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    
}

#bottom {
    position: relative;
    background-color: #D8D8D8;
    padding: 5px;
    margin: 250px 0px 0px 0px;
    height: 50px;      
}

#left {
    float: left;
    background-color: #dbe2e5;
    padding: 5px;
    width: 180px;
}

#right {
    float: right;
    background-color: #fffada;
    padding: 0px;    
    height: 0px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 0px;
}

.left_content {
    background-color: #ece3a5;
    padding: 2px;
    margin-left: 200px;
    margin-bottom: 60px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 20px 0px 0px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: blue;
  font-weight : bold;
  text-decoration : underline;
}


