body {
    background-color: #E5E8E8;        
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #454545;  
    margin: 70px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

h2 {
    font-family: Georgia, Cambria, Times, "Times New Roman";
    border-bottom: 4px solid #AFAFAF; 
    font-size:  23px;
    font-weight: bold;
    align-content: center;
    margin: 10px;
    padding: 10px;
    /*color: #d6e7f0;*/
    color: #d6e7f0;
}

h4 {
    font-family: Georgia, Cambria, Times, "Times New Roman";
    border-bottom: 4px solid #AFAFAF; 
    font-size:  23px;
    font-weight: bold;
    align-content: center;
    margin: 10px;
    padding: 10px;
    color: #336CB2;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

ui-panel-title{
    padding: 1px;
}