<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>CURSO SOAP</title>
        
    </h:head>    


    <h:body >
        <h:form id="form">
            <p:messages autoUpdate="true" showDetail="true"/>
            <center>
                <h1>EJEMPLO SOAP/REST</h1>
            </center>
            <h:panelGrid columns="1" >
                <p:dataTable var="persona" value="#{evaluacionController.personas}" id="tablaResultado">
                    <p:column headerText="Origen">
                        <h:outputText value="#{persona.origen}" />
                    </p:column>
                    <p:column headerText="Nombres">
                        <h:outputText value="#{persona.nombres}" />
                    </p:column>

                    <p:column headerText="Apellidos">
                        <h:outputText value="#{persona.apellidos}" />
                    </p:column>

                    <p:column headerText="Cedula">
                        <h:outputText value="#{persona.cedula}" />
                    </p:column>

                    <p:column headerText="Correo">
                        <h:outputText value="#{persona.correo}" />
                    </p:column>

                    <p:column headerText="Telefono">
                        <h:outputText value="#{persona.telefono}" />
                    </p:column>

                    <p:column headerText="Pais">
                        <h:outputText value="#{persona.pais}" />
                    </p:column>

                    <p:column headerText="Fecha Nacimiento" rendered="#{evaluacionController.mostrarFecha}">
                        <h:outputText value="#{persona.fechaNacimiento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>


                    <p:column headerText="Edad">
                        <h:outputText value="#{persona.edad}" />
                    </p:column>                    
                </p:dataTable>

            </h:panelGrid>
            <p:commandButton value="REST" actionListener="#{evaluacionController.obtenerporREST()}" update="tablaResultado"/>
            <p:commandButton value="SOAP" actionListener="#{evaluacionController.obtenerporSOAP()}" update="tablaResultado"/>
            <p:separator/>
            <p:outputLabel value="Created by: Darwin Vicente Cuenca Ordonez - ECUADOR"/>
            
            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

            <p:dialog widgetVar="statusDialog" modal="false" draggable="false" closable="false" resizable="false" showHeader="false">
                <p:graphicImage name="images/ajaxLoadingBar.gif" />
            </p:dialog>                  
        </h:form>





    </h:body>
</html>